.App {
  text-align: center;
  background-image: linear-gradient(bisque, rgb(233, 171, 96));
}

h1 {
  margin:0 auto;
  padding: 2% 0;
  font-family: 'freshbotregular';
  font-size: 600%;
  font-weight: 200;
  text-transform: uppercase;
  color: orange;
  -webkit-text-stroke: 2px black;
  transition: letter-spacing 1s; 
  }

h1:hover {
  letter-spacing: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'freshbotregular';
  src: url('./freshbot-webfont.woff') format('woff'),
       url('./freshbot-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}